/*-- scss:uses --*/

/*-- scss:functions --*/

/*-- scss:defaults --*/
$brand-blue: #000033ff;

$navbar-fg: $brand-blue !default;
$navbar-hl: lighten($brand-blue, 10%) !default;

$code-block-bg: $brand-blue;

/* -- scss:mixins --*/

/*-- scss:rules --*/
.highlight {
    color: var(--brand-white);
}